body {
    font-family: 'Arial', sans-serif;
    background-color:#eaf0f9;
    margin: 0;
    padding-top: 50px;
  }
  header {
    background: #eaf0f9;
    height: 50px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    display: flex;
}
main{
    margin: 0;
    padding: 20px;
}
.nav-up {
    top: -50px;
}
  .dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
  }
  .card {
    background: white;
    border-radius: 8px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .card-header {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  .card-content {
    font-size: 24px;
    padding-left: 20px;
  }
  .increase {
    padding-top: 0px;
    color: #4caf50;
  }
  .decrease {
    color: #f44336;
  }
  .page-title {
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
  }
  .section-title {
    padding: 5px;
    padding-left: 20px;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  .card.large {
    grid-column: span 2; /* Span 2 columns for larger cards */
    max-height: 300px; /* Set a max-height for the large card */
    display: flex;
    flex-direction: column;
  }
  .card-header {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  .scrollable-table {
    overflow-y: auto; /* Make table scrollable */
    margin-top: 10px;
    flex-grow: 1;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #eee; /* Add a subtle border to table rows */
  }
  th {
    color: #555;
  }